@page "/"
@using Quixduell.Blazor.Shared.CategoryComponent
@using Quixduell.Blazor.Helpers;
<PageTitle>Index</PageTitle>



@if (_studysets is not null)
{
    //https://getbootstrap.com/docs/5.0/content/tables/

    <div class="container">
        <div class="container mb-3">
            <div class="row">
                <div class="col">
                    <label for="inputSearch" class="form-label">Name</label>
                    <input @bind=@SearchText @bind:after=@SearchForStudysets id="inputSearch" class="form-control" />
                </div>
                <div class="col">
                    <SelectCategory @bind-Value="SelectedCategory" @bind-Value:after=@SearchForStudysets></SelectCategory>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input @bind=@ShowConnected  @bind:after=@SearchForStudysets class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                        @if(ShowConnected)
                        {
                            <label class="form-check-label" for="flexSwitchCheckChecked">Zeige eigene und gemerkte Studysets</label>
                        }
                        else
                        {
                            <label class="form-check-label" for="flexSwitchCheckChecked">Zeige alle Studysets</label>
                        }

                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col" class="d-none d-sm-table-cell">Ersteller</th>
                    <th scope="col" class="d-none d-sm-table-cell"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="@_studysets" Context="Studyset" ItemSize="10" OverscanCount="5">
                    <tr style="cursor: pointer">
                        <td onclick="window.location.href='@PageUri.ViewStudysetPage/@Studyset.Id';">@Studyset.Name</td>
                        <td onclick="window.location.href='@PageUri.ViewStudysetPage/@Studyset.Id';">@Studyset.Category.Name</td>
                        <td class="d-none d-sm-table-cell" onclick="window.location.href='@PageUri.ViewStudysetPage/@Studyset.Id';">@Studyset.Creator.Email</td>
                        @if (CheckIfCurrentUserStored(Studyset))
                        {
                            <th scope="col" class="d-none d-sm-table-cell" style="color: red;" @onclick="async (s) =>{await UnNoticeStudyset(Studyset);}">&#10084;</th>
                        }
                        else
                        {
                            <th scope="col" class="d-none d-sm-table-cell" style="color: grey;" @onclick="async (s) =>{await NoticeStudyset(Studyset);}">&#x1F44D;</th>
                        }
                        @if(CheckEditRights(Studyset))
                        {
                            <td><button class="btn btn-secondary" onclick="window.location.href='@PageUri.EditStudysetPage/@Studyset.Id';">Bearbeiten</button></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                </Virtualize>
            </tbody>
        </table>


        <button class="btn" @onclick="InitSampleDataMethod">Init Sample Data</button>
        <button class="btn" onclick="window.location.href='/editstudyset/';">Lernset hinzufügen</button>
        <button class="btn" @onclick="ShowAlert">Show Alert</button>
        <button class="btn" @onclick="ShowDialog">Show Dialog</button>

    </div>
}