@using Quixduell.ServiceLayer.DataAccessLayer.Model.Questions

@if (_answeredQuestion is not null && Value is not null)
{
    <div class="card">
        <div class="card-header">
            @_answeredQuestion.Question.Text
        </div>
        <div class="card-body">
            <div>

                    <div class="custom-control custom-radio">
                        <Virtualize Items="Value.Answers">
                            <input type="radio" id="@context.Id" name="customRadio" class="custom-control-input" @onclick="() => {_answeredQuestion.SelectedAnswer = Value.Answers.First(o => o.Id == context.Id);_questionAnswered = true;}">
                            <label class="custom-control-label" for="@context.Id">@context.Text</label>
                        </Virtualize>
                    </div>
                

                <button class="btn" @onclick="() => {_showHint = !_showHint;}">Hilfe anzeigen</button>
                @if(_showHint)
                {
                    <p class="card-text">
                        @_answeredQuestion.Question.Hint
                    </p>
                }
            </div>

            @if (_questionAnswered)
            {
                <div>
                    <button class="btn btn-success" @onclick="QuestionComplete">Senden</button>
                </div>
            }
        </div>
    </div>

}