@using Quixduell.ServiceLayer.DataAccessLayer.Model.Questions

@if (_answeredQuestion is not null && Value is not null)
{
    <div class="card">
        <div class="card-header">
            @_answeredQuestion.Question.Text
        </div>
        <div class="card-body">
            <div class="form-group">
                <Virtualize Items="Value.Answers">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" id="@context.Id" name="customRadio" class="form-check-input" @onclick="() => {_answeredQuestion.SelectedAnswer = Value.Answers.First(o => o.Id == context.Id);_questionAnswered = true;}">
                            </div>
                        </div>
                        <label class="form-control" for="@context.Id">@context.Text</label>
                    </div>
                </Virtualize>

                @if (_enableHintButton)
                {
                    <button type="button" class="btn btn-lg btn-info" @onclick="() => {_showHint = !_showHint;}">Hilfe anzeigen</button>
                }
                else
                {
                    <button type="button" class="btn btn-lg btn-info" disabled @onclick="() => {_showHint = !_showHint;}">Hilfe anzeigen (Nach 10 Sekunden)</button>
                }         
                @if (_showHint)
                {
                    <div class="card m-5">
                        <div class="card-header">
                            Hilfe
                        </div>
                        <div class="card-body">
                            @_answeredQuestion.Question.Hint
                        </div>
                    </div>
                }


                @if (_questionAnswered)
                {
                    <div>
                        <button class="btn btn-success" @onclick="QuestionComplete">Senden</button>
                    </div>
                }
            </div>
        </div>
    </div>

}