@using Quixduell.Blazor.Shared.ControlComponents
@using Quixduell.Blazor.Shared.StudysetView.RatingComponent

<div class="col div-container">

    <div class="container padding-0">
        <div class="row">
            <div class="col" style="padding-right:0">

                <div class="row">
                    <div class="col headline">
                        Rating
                    </div>
                    <div class="col headline d-flex justify-content-end">
                        @String.Format("{0:0.00}", AverageStars)
                        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 2l2.4 7h7.6l-6 4.8 2.4 7-6-5.2-6 5.2 2.4-7-6-4.8h7.6z" fill="#FFD700" />
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col star-div" style="max-width:80%;">
                        <RatingComponent @bind-CurrentRating="Rating" @bind-IsEditable="IsEditing" />
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <textarea class="w-100 h-100 resize-none text-style" style="border-color: darkgray" readonly="@(IsEditing==false)" @bind="RatingText">
                        </textarea>
                    </div>
                </div>
                
            </div>
            <div class="col col-auto d-flex justify-content-center align-items-center" style="padding-left:0.125em; padding-right:0.25em">
                <UploadButtonComponent @bind-IsEditing="IsEditing" UploadFunction="@Rate" />
            </div>
        </div>


        <div class="row headline" style="margin-top: 1rem;">
            <div class="col">                
                Other Ratings:
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="container" style="min-height: 0rem; max-height: 10rem; padding: 0.5rem; border: solid darkgray 1px; border-radius: 0.5rem; background-color: rgb(248,248,248); overflow-y : auto;">
                   

                    <div class="row" style="margin: 0;">
                        @if(Connections.Count == 0)
                        {
                            <div class="col d-flex justify-content-center align-content-center text-style">
                                No Ratings Available
                            </div>
                        }

                        @foreach (var connection in Connections)
                        {
                            <div class="col rating-box" style="margin: 0.5rem; padding: 0.5rem; border: solid darkgray 1px; border-radius: 0.5rem; background-color: rgb(240, 240, 240);">

                                <div class="container" style="padding: 0;">

                                    <div class="row" style="border-bottom: solid darkgray 1px; margin-right: -0.5rem; margin-left: -0.5rem; padding-bottom: 0.5rem;">
                                        <div class="col col-auto rating-header" style="background-color: rgb(252, 252, 252);border: solid black 1px; border-radius: 50%; padding:0.25rem; margin-left: 0.5rem;">
                                            &#x1F464;
                                        </div>
                                        <div class="col d-flex align-items-center rating-header">
                                            @connection.User.UserName
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 0; margin-top: 0.25rem; margin-bottom: 0.25rem;">
                                        <div class="col" style="margin-left: 0.5rem; ">
                                            <RatingComponent @bind-CurrentRating="connection.Rating.Value" />
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 0">
                                        <div class="col text-style">
                                            @connection.Rating.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>