

@if (Studyset is not null)
{
    <div class="container div-container">
        <div class="row" style="margin: 0">
            <StudysetViewContentQuestionInformation User="@User" Studyset="@Studyset" />
        </div>
        <div class="row" style="margin: 0">
            <StudysetViewContentUserInformation User="@User" Studyset="@Studyset" />
        </div>
        <div class="row" style="margin: 0">
            <StudysetViewContentHighscore Studyset="@Studyset" User="User" />
        </div>
        <div class="row" style="margin: 0">
            <StudysetViewContentRating User="@User" Studyset="@Studyset" />
        </div>
    </div>
}