@using Quixduell.Blazor.Shared.ControlComponents;

@if (Studyset is not null)
{
    <div class="col div-container">
        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col" style="padding-right:0;">

                    <div class="row">
                        <div class="col col-3 col-xl-2 col-sm-3 justify-content-start">
                            Creator:
                        </div>
                        <div class="col w-100 justify-content-start">
                            @Studyset.Creator.UserName
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-3 col-xl-2 col-sm-3 justify-content-start" style="padding-right: 0;">
                            Contributors:
                        </div>
                        <div class="col w-100 justify-content-start" style="padding-right: 0;">
                            <div class="container contributor-div" style="padding-left: 0;">

                                <div class="row scroll-box @(IsAddContributorActive() ? "h-shrinked" : "h-100")">
                                    <div class="col" style="padding: 0;">
                                        <div class="container">
                                            @foreach (var c in Studyset.Contributors)
                                            {
                                                <div class="row" style="height: fit-content;">
                                                    <div class="col" style="padding: 0;">
                                                        @c.UserName
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>

                                @if (IsAddContributorActive())
                                {
                                    <div class="row proposal-box">
                                        <div class="col" style="padding-right:0;">
                                            <ProposalTextBoxComponent ContributorSelectedAsync="@AddContributorAsync" ExcludeUsers="new List<User>(Studyset.Contributors){ Studyset.Creator }" />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-auto d-flex justify-content-end align-items-center" style="padding-left:0; padding-right:0.25em">

                    @if (IsUserAdmin())
                    {
                        <AddButtonComponent OnClick="@ActivateAddContributor" />
                    }
                    else
                    {
                        <RequestContributorComponent Request="@RequestToBeAContributor" Requested="@(Studyset.UsersRequestedToBecomeContributor.Contains(User))" />
                    }

                </div>
            </div>
        </div>
    </div>
}